.mainNav{
    font-family: 'Alegreya';
    padding: 62px;
    text-decoration: none;
    color: white;
    background-color: #9d70eb;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    
}